<form class="form-horizontal" action="" method="post" name="data" enctype="multipart/from-data">
  <div class="form-group">
    {{data.form.hidden_tag()}}
  </div>
  {% for item in data.form.fields_order %}
  {% for i in data.form.errors[item] %}
                 <span class="col-md-offset-2" style="color: red;">[{{i}}]</span>
              {% endfor %}
  <div class="form-group" id="{{data.form[item].label.text}}-group">
    <label class="control-label col-md-2 text-capitalize">{{data.form[item].label}}:</label>
    <div class="clearfix visible-sm visible-xs"></div>
    {% if data.form[item].name == 'user_id' or data.form[item].name == 'comp_id' %}
      <select class="input-lg col-md-3" id = "{{data.form[item].name}}" name = "{{data.form[item].name}}">
      {% for elem in data.form[item].choices2 %}
         <option {% if data.form[item].data == elem[0] %} 
            selected="selected" 
         {% endif %}
         value = "{{ elem[0] }}"
         data-department-id="{{ elem[2] }}">{{ elem[1] }}</option>
      {% endfor %}
      </select>
    {% else %}
    {% if data.form[item].label.text=="hardware_type" %}
    {{data.form[item](class="col-md-3 input-lg", onchange="myFunc()")}}
    {% else %}
    {{data.form[item](class="col-md-3 input-lg")}}
    {% endif %}
    {% endif %}
  </div>
  {% endfor %}
</br></br>
  <div class="form-group">
    <input class="btn btn-primary " type="submit" name="submitted" value="Save"/>
    <input class="btn btn-primary" type="submit" name="submitted" value="Save & New"/>
    <input class="btn btn-primary" type="submit" name="submitted" value="Cancel"/>
    <input class="btn btn-primary" name="submitted"  id="Delete" type="submit" value="Delete">
  </div>
</form> 
  <script type="text/javascript">
        $('.current_url').each(function(){
            $(this).val(window.location);
        });      
      </script>

</form>

<script type="text/javascript">

    $('#Delete').click(function() {
      return confirm('Are you sure to delete?')
    })

    $('#hardware_type').change(function() {
      feature_changer()
    })
    all_features = ['resolution', 'motherboard', 'cpu', 'hdd', 'memory']
    choices_array = {
      1: ['motherboard', 'cpu', 'hdd', 'memory'], 
      2: ['resolution', 'motherboard', 'cpu', 'hdd', 'memory'],
      3: ['resolution']
    }

    function difference(arr1, arr2) {
        var output = []
        for (var index in arr1) {
            if (arr2.indexOf(arr1[index]) == -1 ) {
                output.push(arr1[index]);
            }
        }
        return output;
    }

    function feature_changer() {
      var choice = $('#hardware_type').find(":selected").val();
      if (choice in choices_array) {
          for (index in choices_array[choice]) {
            console.log("#%s-group enable", choices_array[choice][index]);
            feature = "#" + choices_array[choice][index] + "-group" 
            $(feature).removeClass('hide');
          }
          var disabled_features = difference(all_features, choices_array[choice])
          for (index in disabled_features){
            console.log("#%s-group disable", disabled_features[index]); 
            feature = "#" + disabled_features[index] + "-group" 
            $(feature).addClass('hide');
          }
      } else {
        for (index in all_features) {
            console.log("#%s-group disable", all_features[index]);
            feature = "#" + all_features[index] + "-group" 
            $(feature).addClass('hide');
          }

      }
    }
    feature_changer()
  </script>