<div class="row">
<div class="col-md-7">
<table class="table">
{% for item in data['_base_data'].view_order %}
{% if data['_base_data'][item] %}
<tr>
<td><b class="text-uppercase">{{item}}:</b></td><td>{{data['_base_data'][item]}}</td>
</tr>
{% endif %}
{{data['_base_data'][department]}}
{% endfor %}
<tr><td></td><td class="text-right"><a class="btn btn-primary" href="{{data['_base_data'].get_edit_path()}}">Edit</a></td></tr>
</table>

</div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
{% for button in data.buttons %}
    <form action="{{data.buttons[button]}}" method="post" class="col-xs-5 col-sm-3 col-md-2">
        <input type="hidden" name="location" class="current_url"/>
        <input class="btn btn-primary btn-block" type="submit" name="{{button}}" value="Add {{button}}"/>
    </form>
{% endfor %}
</div>
</div>

<script type="text/javascript">
        $('.current_url').each(function(){
            $(this).val(window.location);
        });      
      </script>