<form class="form-horizontal" action="" method="post" name="data" enctype="multipart/from-data">
  <div class="form-group">
    {{data.form.hidden_tag()}}
  </div>
  {% for item in data.form.fields_order %}
  {% for i in data.form.errors[item] %}
                 <span class="col-md-offset-2" style="color: red;">[{{i}}]</span>
              {% endfor %}
  <div class="form-group" id="{{data.form[item].label.text}}-group">
    <label class="control-label col-md-2 text-capitalize">{{data.form[item].label}}:</label>
    <div class="clearfix visible-sm visible-xs"></div>
    {% if data.form[item].name == 'user_id' or data.form[item].name == 'comp_id' %}
      <select class="input-lg col-md-3" id = "user_id" name = "user_id">
      {% for elem in data.form[item].choices2 %}
         <option {% if data.form[item].data == elem[0] %} 
            selected="selected" 
         {% endif %}
         value = "{{ elem[0] }}"
         data-department-id="{{ elem[2] }}">{{ elem[1] }}</option>
      {% endfor %}
      </select>
    {% else %}
    {% if data.form[item].label.text=="hardware_type" %}
    {{data.form[item](class="col-md-3 input-lg", onchange="myFunc()")}}
    {% else %}
    {{data.form[item](class="col-md-3 input-lg")}}
    {% endif %}
    {% endif %}
  </div>
  {% endfor %}
</br></br>
  <div class="form-group">
    <input class="btn btn-primary " type="submit" name="submitted" value="Save"/>
      <input class="btn btn-primary" type="submit" name="submitted" value="Save & New"/>
      <input class="btn btn-primary" name="submitted"  id="Delete" type="submit" value="Delete">
  </div>
</form>
  {% for button in data.buttons %}
  <div class="row">
  <form action="{{data.buttons[button]}}" method="post">
        <input type="hidden" name="location" class="current_url"/>
        <input class="btn btn-primary" type="submit" name="{{button}}" value="Add {{button}}"/>
        
      </form>
  </div>
  {% endfor %}
  <script type="text/javascript">
        $('.current_url').each(function(){
            $(this).val(window.location);
        });      
      </script>

</form>

<script type="text/javascript">

    $('#Delete').click(function() {
      return confirm('Are you sure to delete?')
    })

    $('#hardware_type').change(function() {
      feature_changer()
    })

    function feature_changer() {
      var choice = $('#hardware_type').find(":selected").val();

      if ( choice == 1) {
        $('#resolution-group').addClass('hide');
        $('#cpu-group').removeClass('hide');
        $('#hdd-group').removeClass('hide');
        $('#memory-group').removeClass('hide');
      }
      else if (choice == 2){
        $('#resolution-group').removeClass('hide')
        $('#cpu-group').removeClass('hide')
        $('#hdd-group').removeClass('hide')
        $('#memory-group').removeClass('hide') 
      }
      else if (choice == 3){
        $('#cpu-group').addClass('hide')
        $('#hdd-group').addClass('hide')
        $('#memory-group').addClass('hide')
        $('#resolution-group').removeClass('hide')
      }
      else {
        $('#resolution-group').addClass('hide')
        $('#cpu-group').addClass('hide')
        $('#hdd-group').addClass('hide')
        $('#memory-group').addClass('hide')
      }
    }
    feature_changer()
  </script>