<div class="row">
<div class="col-md-7">
<table class="table">
{% for item in data['_base_data'].view_order %}
{% if data['_base_data'][item[0]] %}
{% if item|length > 1 %}
<tr>
<td><b class="text-uppercase">{{item[0]}}:</b></td><td><a href="{{data['_base_data'][item[0]].get_view_path()}}">{{data['_base_data'][item[0]]}}</a></td>
</tr>
{% else %}
<tr>
<td><b class="text-uppercase">{{item[0]}}:</b></td><td>{{data['_base_data'][item[0]]}}</td>
</tr>
{% endif %}
{% endif %}
{{data['_base_data'][department]}}
{% endfor %}
<tr><td></td><td class="text-right"><a class="btn btn-primary" href="{{data['_base_data'].get_edit_path()}}">Edit</a></td></tr>
</table>

</div>
</div>

<div class="panel panel-default">
</div>
<div class="row">

{% if data.page_name == 'Hardware'%}
{% do data.buttons.update({'History':'/hardware/history/'+data['_base_data']['view_name']}) %}
{% elif data.page_name == 'User' %}
{% do data.buttons.update({'History':'/hardware/history/'+data['_base_data']['view_name']}) %}
{% endif %}

{% for button in data.buttons %}
<div class="row">
    <form action="{{data.buttons[button]}}" method="post">
        <div class="form-group col-md-2">
            <input type="hidden" name="location" class="current_url"/>
            <input class="btn btn-primary btn-block" type="submit" name="{{button}}" value="{{button}}"/>
        </div>
    </form>
</div>
{% endfor %}
</div>
<div class="panel panel-default">
</div>


<script type="text/javascript">
        $('.current_url').each(function(){
            $(this).val(window.location);
        });      
      </script>