    <table id = "mytable" border class="tablesorter">
        <thead>
            <tr>
            {% if base_data[0] %}
                {% for item in base_data[0].column_names() %}
                    <th>{{item}}</th>
                {% endfor %}
            {% endif %}
            </tr>
        </thead>
        <tbody>

	   {% for item in base_data %}
           <tr id="tr_{{item.id}}" class="mytable_row">
                {% for field in item.repr_list() %}
		     <td>
                        {% if field|length > 1 %}
		            {% if field[1] == 1 %}
                                <a class="div_a main_list_item" 
                                    href="{% if field[0] is not none %}
                                    {{field[0].get_path()}}
                                    {% else %}
                                    #
                                    {% endif %}
                                    ">{{field[0]}}</a>
			    {% elif field[1] == 2 %}
                            <img src="{{item.get_type_image()}}"/>
			    {% endif %}
                        {% else %}
                                <div class="main_list_item" >{{field[0]}}<div>
                        {% endif %}
		     </td>  
                {% endfor%}
            </tr>
        {% endfor %}
        </tbody>
    </table>      
            
    <script>
    $(document).ready(function() 
        { 
            $("table").tablesorter(); 
        } 
    );
    

    </script>
