{% extends "base.html" %}
{% block content %}
    <div id="div_page_name">
       {{data.page_name|default('base_list')}}
    </div>
{% include '_entity_edit.html' %} 
{% block edit_sub_content %}
    {% if data.blocks %}
        <div class="edit_helper">   
            {% for elem in data['_base_data'].order %}
                {% if data.blocks[elem] %}
                    <div class="sub_edit_helper">
                        <h2 onclick="expand(this.id);" id="{{elem.lower()}}"><b>{{elem.upper()}}</b></h2>
                        <p class = "displayed"> 
                            {% for item in data.blocks[elem] %}
                                <img style="vertical-align:middle"src="{{item.get_type_image()}}"/>
                                <a class ="div_a" href="{{item.get_path()}}">{{item}}</a></br>
                            {% endfor %}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{% endblock %}


