{% extends "base.html" %}
{% block js_include %}
	<script type="text/javascript" src="/static/js/filter_field.js"></script>
{% endblock %}
{% block content %}
<div class="page-header" id="div_page_name">
   <h1>{{page_name|default('base_list')}}</h1>
   {% if page_name.split(' ')[0] != 'Disabled' %}
   <a href="{{add_item_url}}" class="div_add_item div_a">Add {{page_name}}</a>
   {% endif %}
</div>
<div class="form-group col-md-5">
	<input type="text" class="form-control" id="filter" placeholder="Filter">
</div>
      

{% include '_entity_list.html' %}
{% endblock %}
