<DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1; charset=utf-8" />
    <title>{{title|default('equipment')}}</title>
    <link rel = "stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel = "icon" type="image/png" href="/static/img/gfk_logo.png" />
    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
   {% block js_include %} {% endblock %}
  </head>
  <body>
  	{% block menu %}
    {% include 'menu_header_page.html' %}
    {% endblock %}
  	<div class="jumbotron">
  		<div class="container-fluid">
  			<h1>Equipment base</h1>
  		</div>
  	</div>
  	{% block e%}
  	<div class="container-fluid">
  		<div class="row">
  			<div class="col-md-2">
  				{% block vert_menu %}
        		{% include 'vert_menu.html' %}
        		{% endblock %}
  			</div>
  			<div class="col-md-10">
  				{% with messages = get_flashed_messages() %}
		        {% if messages %}
		        {% for message in messages %}
		          <p class="text-warning">{{message}}</p>
		        {% endfor %}
		        {% endif %}
		        {% endwith %}
		        {% block content %}
		        {% endblock %}
  			</div>
  		</div>
  	</div>

  	{% endblock%}
    <div class="row">
      <div class="">
        <footer>
          <div class="clear-fix" style="height:50px">
              <h1 class="panel-title"></h1>
             </div>
          <div class="panel panel-default">            
            <p class="text-center">&copy; Copyright 2015 GfK Ukraine</p>
          </div>
        </footer>
      </div>
    </div>
  </body>
  </html>
