<!DOCTYPE html>

<script type="text/javascript">
    function expand(id) {
        console.log(id);
        elem = document.getElementById(id).parentNode.getElementsByTagName("p")[0];

        if (elem.className == "displayed") {
            elem.className = 'hidden'
        }
        else {
            elem.className = "displayed"
        }

    }
</script>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{title|default('equipment')}}</title>
    <link rel = "stylesheet" type = "text/css" href = "/static/css/index.css"/>
    <script type="text/javascript" src="/static/js/jquery-latest.js"></script>
    <script type="text/javascript" src="/static/js/page_list.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
  </head>
  <body>
    {% block menu %}
    {% include 'menu_header_page.html' %}
    {% endblock %}
    {% block search %}
    <form style="display:inline;" action="{{url_for('search')}}" method="post"
      name="search">
      {{g.search_form.hidden_tag()}}{{g.search_form.search(size=20)}}
      <input type="submit" value="Search"></form>
    {% endblock %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
      <br>{{message}}
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </body>
</html>
