{% extends "base.html" %}
{% block js_include %} 
    <script type="text/javascript" src="/static/js/selector_ext.js"></script>
{% endblock %}
{% block content %}
    <div class="page-header">
       <h1>{{data.page_name|default('base_list')}}</h1>
    </div>
{% include '_entity_edit.html' %} 
{% block edit_sub_content %}
    {% if data.blocks %}
    {% if data.page_name == 'Department' %}
        <div class="row">
            {% set check_var = 0 %}
            <ul class="nav nav-tabs">
                {% for elem in data['_base_data'].order %}
                {% if data.blocks[elem] %}
                {% if check_var == 0 %}
                <li class=active>
                {% set check_var = 1 %}
                {% else %}
                <li>
                {% endif %}
                <a data-toggle="tab" href="#{{elem.upper()}}">{{elem.upper()}}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% set check_var = 0 %}
                {% for elem in data['_base_data'].order %}
                {% if data.blocks[elem] %}
                {% if check_var == 0 %}
                <div id="{{elem.upper()}}" class="tab-pane fade in active">
                    {% set check_var = 1 %}
                {% else %}
                <div id="{{elem.upper()}}" class="tab-pane fade">

                {% endif %}
                <h3>{{elem.upper()}}</h3>
                {% set num_counter = 0 %}
                <div class="row">

                    {% for item in data.blocks[elem] %}
                    
                    
                    {% if num_counter % 4 == 0 %}

                    
                </div><div class="row">
                    {% endif %}
                    {% set num_counter = num_counter + 1 %}
                        <div class="col-md-3">
                        <a href="{{item.get_path()}}"><img style="vertical-align:middle"src="{{item.get_type_image()}}"/>{{item}}</a></br>
                        </div>
                    {% endfor %}
                </div></div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% else %}
            <div class="row">
                <div class="col-md-7">
                    <table class="table table-hover">
                    <caption><h1 class="">Current<h1></caption>
                    <thead>
                    <tr>
                      <th>Category</th>
                      <th>Item</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for elem in data['_base_data'].order %}
                        {% if data.blocks[elem] %}
                        <tr><td colspan=2>{{elem.upper()}}</td><tr>
                        {% for item in data.blocks[elem] %}
                        <tr><td></td><td>
                            <a href="{{item.get_path()}}">{{item}}</a>
                        </td></tr>
                    {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>

                </div>
            </div>
            <div class="row">
            <div class="col-md-7">
            <table class="table table-stripped table-hover">
            <caption><h1 class="">History table<h1></caption>
            <thead>
            <tr>
              <th>List item</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody>

            {% if data.page_name == 'Hardware' %}
            {% for record in data['_base_data'].history_users %}
            <tr><td>{% if record.hist_user is not none %}
                <a href="{{record.hist_users.get_path()}}">
                    {{record.hist_users}}</a>
                    {% else %}DELETED
                    {% endif %}
                </td><td>{{record.change_date.strftime('%d-%m-%Y')}}</td></tr>
            {% endfor %}
            {% elif data.page_name == 'User' %}
            {% for record in data['_base_data'].history_hardware %}
            <tr><td>{% if record.hist_hardware is not none %}
                <a href="{{record.hist_hardware.get_path()}}">
                    {{record.hist_hardware}}</a>
                    {% else %}DELETED
                    {% endif %}</td><td>
                    {{record.change_date.strftime('%d-%m-%Y')}}</td></tr>
            {% endfor %}
            {% endif %}
            </tbody>
            </table>
            </div>
            </div>
    {% endif %}
    
    {% endif %}

{% endblock %}
{% endblock %}
