{% extends "base.html" %}
{% block js_include %} 
    <script type="text/javascript" src="/static/js/selector_ext.js"></script>
{% endblock %}
{% block content %}
    <div class="page_header">
        <h1>{{data['_base_data']}}</h1>
    </div>
{% include '_entity_view.html' %} 
{% block edit_sub_content %}
    {% if data.blocks %}
    {% if data.page_name == 'Department' %}
        <div class="row">
            {% set check_var = 0 %}
            <ul class="nav nav-tabs">
                {% for elem in data['_base_data'].order %}
                {% if data.blocks[elem] %}
                {% if check_var == 0 %}
                <li class=active>
                {% set check_var = 1 %}
                {% else %}
                <li>
                {% endif %}
                <a data-toggle="tab" href="#{{elem.upper()}}">{{elem.upper()}}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% set check_var = 0 %}
                {% for elem in data['_base_data'].order %}
                {% if data.blocks[elem] %}
                {% if check_var == 0 %}
                <div id="{{elem.upper()}}" class="tab-pane fade in active">
                    {% set check_var = 1 %}
                {% else %}
                <div id="{{elem.upper()}}" class="tab-pane fade">
                {% endif %}
                <h3>{{elem.upper()}}</h3>
                <div class="col-md-6">

                    <table class="table table-stripped table-hover">
                        {% for item in data.blocks[elem] %}
                            <tr class="mytable_row">
                                <td><a href="{{item.get_view_path()}}"><img style="vertical-align:middle"src="{{item.get_type_image()}}"/>{{item}}</a></td>
                                {% if item.model %}
                                <td>{{item.model}}</td>
                                {% endif %}
                                {% if item.user %}
                                <td><a href="{{item.user.get_view_path()}}">{{item.user}}</a></td>
                                {% endif %}
                                {% if item.hardware %}
                                <td><a href="{{item.hardware.get_view_path()}}">{{item.hardware}}</a></td>
                                <td>
                                {% if item.hardware.user is not none %}
                                <a href="{{item.hardware.user.get_view_path()}}">{{item.hardware.user}}</a></td>
                                {% endif %}
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% else %}
            <div class="row">
                <div class="col-md-7">
                    <table class="table table-hover">
                    <tbody>
                        {% for elem in data['_base_data'].order %}
                        {% if data.blocks[elem] %}
                        <tr><td colspan=2>{{elem.upper()}}</td><tr>
                        {% for item in data.blocks[elem] %}
                        <tr><td></td><td>
                            <a href="{{item.get_view_path()}}">{{item}}</a>
                        </td></tr>
                    {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>

                </div>
            </div>
            <div class="row">
            <div class="col-md-7">
            <table id="history_table" class="table table-stripped table-hover" style="display:none">
            <caption><h1 class="">History<h1></caption>
            
            {% if data.page_name == 'Hardware' %}
            <thead>
            <tr>
              <th>User</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for record in data['_base_data'].history_users %}
            <tr><td>{% if record.hist_user is not none %}
                <a href="{{record.hist_user.get_view_path()}}"> 
                    {{record.hist_user}}</a>
                    {% else %}DELETED
                    {% endif %}
                </td><td>{{record.change_date.strftime('%d-%m-%Y')}}</td></tr>
            {% endfor %}
            {% elif data.page_name == 'User' %}
            <thead>
            <tr>
              <th>Hardware</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for record in data['_base_data'].history_hardware %}
            <tr><td>{% if record.hist_hardware is not none %}
                <a href="{{record.hist_hardware.get_view_path()}}">
                    {{record.hist_hardware}}</a>
                    {% else %}DELETED
                    {% endif %}</td><td>
                    {{record.change_date.strftime('%d-%m-%Y')}}</td></tr>
            {% endfor %}
            {% endif %}
            </tbody>
            </table>
            </div>
            </div>
            <div class="row">
                <div class="col-md7">
                    <table id="notes" class="table table-stripped table-hover">
                        <caption><h1 class="">Notes<h1></caption>
                        {% for record in data['_base_data'].notes %}
                        <tr>
                            <td>{{record.note_date}}</td>
                            <td>{{record.text}}</td>
                            <td>{{record.admin.name}} {{record.admin.surname}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
    {% endif %}
    
    {% endif %}

{% endblock %}
{% endblock %}
