{% extends "base.html" %}
{% block content %}
{% include 'menu_header_page.html' %}
<form action = "" method="post" name="data" enctype="multipart/form-data">
    {{data.hidden_tag()}}
    <table>
      <tr><td>Department</td><td>{{data.name}}</td>
        <td>{% for error in data.errors.name %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </td>
      </tr>
    </table><br/>
    <input class="div_a" type="submit" name="submited" value="Save"/>
    <input class="div_a" type="submit" name="submited" value="Save & continue editing"/>
  </form>
{% endblock %}
