{% extends "base.html" %}
{% block menu %}{% endblock %}
{% block content %}

    <div id="img_main_index_page">
      <h1 style="padding-top:180px">Инвентаризационная база</h1>
    </div>
      <div id="div_buttons_index_page">
        <div style="text-align:center;">
          <div class="div_button">
            <a href="/users">
              <div class="div_inner_button">Users</div>
            </a>
          </div>

          <div class="div_button">
            <a href="/departments">
              <div class="div_inner_button">Departments</div>
            </a>
          </div>

          <div class="div_button">
            <a href="/hardware">
              <div class="div_inner_button">Hardware</div>
            </a>
          </div>

          <div class="div_button">
            <a href="/software">
              <div class="div_inner_button">Software</div>
            </a>
          </div>
        </div>
      </div>

{% endblock %}
