{% extends "base.html" %}
{% block vert_menu %}
{% endblock %}
{% block content %}
    <br><br>
    <div>
        <form action="" method="post" name="data">
            {{form.hidden_tag()}}
            <table>
                <tr><td>email</td><td>{{form['name']}}</td>
                    <td rowspan=2><input class="div_a" type="submit" value="Login" /></td></tr>
                <tr><td>{{form['password'].label}}</td><td>{{form['password']}}</td></tr>
            </table>
            
            
        </form>
        {% for error in form.errors['name'] %}
            <span style="color:red;">[{{error}}]</span>
        {% endfor %}
        {% for error in form.errors['password'] %}
            <span style="color:red;">[{{error}}]</span>
        {% endfor %}
    </div>
{% endblock%}